* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.top {
    margin: 30px;
    height: 50px;
    text-align: center;
    font-size: 1.2em;
    display: grid;
    grid-template-columns: 600px 150px 150px 150px 150px 400px;
    grid-template-rows: 50px;
}

.top-1 {
    grid-area: 1/1/1/1;
    font-size: 2em;
    color: blue;
    text-align: left;
}

.top-2 {
    grid-area: 1/2/1/2;
}

.top-3 {
    grid-area: 1/3/1/3;
}

.top-4 {
    grid-area: 1/4/1/4;
}

.top-5 {
    grid-area: 1/5/1/5;
}

.top-6 {
    grid-area: 1/6/1/6;
    width: 50px;
    border-radius: 50%;
}