* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.top {
    margin: 25px;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-left {
    font-size: 2em;
    color: blue;
    text-align: left;
    justify-self: flex-end;
}

.top-grid {
    display: grid;
    grid-auto-columns: 170px;
    grid-template-rows: 25px;
}

.top-1 {
    grid-area: 1/1/1/1; 
}

.top-2 {
    grid-area: 1/2/1/2;
}

.top-3 {
    grid-area: 1/3/1/3;
}

.top-4 {
    grid-area: 1/4/1/4;
}

.top-right {
    width: 50px;
    border-radius: 50%;
}

.container {
    margin: 3em auto 3em auto;
    height: 435px;
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    row-gap: 25px;
}

.center-1 {
    width: 200px;
    border-radius: 50%;
}

.center-2 {
    font-size: 2em;
}

.center-3, .center-4, .center-5 {
    color: rgb(175, 161, 161);
}

.center-6 {
    color: rgb(31, 172, 160);
    text-decoration: underline 0.5px;
}

.center-bottom {
    text-align: center;
    font-size: 2.5em;
}

.container-2 {
    height: 300px;
    margin: 2em auto 3em auto;
    display: flex;
    justify-content: center;
}

.center-grid {
    display: grid;
    grid-auto-columns: 350px;
    grid-template-rows: 300px;
    column-gap: 15px;
}

.item-1 {
    grid-area: 1/1/1/1;
    border: 1px solid;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.item-2 {
    grid-area: 1/2/1/2;
    border: 1px solid;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.item-3 {
    grid-area: 1/3/1/3;
    border: 1px solid;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.images {
    width: 320px;
    border-radius: 15px;
}

.header {
    font-size: 2em;
}

.text {
    grid-area: 2/1/2/1;
    margin-left: 10px;
    font-size: 0.9em;
}

.text-2 {
    display: flex;
    align-items: center;
}

.rating {
    color: rgb(231, 167, 28);
    font-size: 1.5em;
    margin-right: 3em;
}

.cherva {
    width: 40px;
    height: 40px;
    color: red;
    background-color: antiquewhite;
    font-size: 1.5em;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help {
    width: 150px;
    height: 40px;
    border: 1px solid;
    border-radius: 35px;
    background-color: rgb(31, 172, 160);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.bottom{
    margin: 2em;
    display: flex;
    justify-content: center;
}

.text-3 {
    width: 200px;
    height: 40px;
    border: 1px solid;
    border-radius: 35px;
    background-color: rgb(31, 172, 160);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
}

@media (max-width: 480px) {
    * {
        max-width: 100vh;
        padding: 0;
        box-sizing: border-box;
    }

    .directiva {
        width: 480px;
    }

    .top-grid{
        display: none;
    }

    .container {
        margin: 3em auto 3em auto;
        width: 480px;
    }

    .center-bottom {
        text-align: center;
        font-size: 2.5em;
    }

    .container-2 {
        height: auto;
        width: 300px;
    }

    .center-grid {
        display: grid;
        grid-template-columns: 350px;
        grid-auto-rows: 300px;
        row-gap: 15px;
    }

    .item-1 {
        grid-area: 1/1/1/1;
    }
    
    .item-2 {
        grid-area: 2/1/2/1;
    }
    
    .item-3 {
        grid-area: 3/1/3/1;
    }
}